packages: [
  "advanced-open-file"
  "atom-alignment"
  "atomatigit"
  "clipboard-plus"
  "emacs-plus"
  "git-blame"
  "language-diff"
  "language-haml"
  "linter"
  "linter-rubocop"
  "package-sync"
  "pretty-json"
  "project-manager"
  "ruby-bundler"
  "Sublime-Style-Column-Selection"
  "toggle-quotes"
]
